/node_modules
/public/banner-images/*
/public/brand-images/*
/public/categorie-images/*
/public/subcategorie-images/*
/public/product-images/*

!public/banner-images/.gitkeep 
!public/brand-images/.gitkeep 
!public/categorie-images/.gitkeep 
!public/subcategorie-images/.gitkeep 
!public/product-images/.gitkeep

.env